@charset "UTF-8";

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.dialog {
	width: 200px;
	border: 1px solid #E2E2E2;
	height: auto;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	transform: translate3d(-50%, -50%, 0);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.dialog-title {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	color: #333;
}

.dialog-content {
	line-height: 24px;
	font-size: 14px;
	color: #666;
}

.dialog-btns {
	text-align: center;
}

.btn {
	padding: 4px 10px;
	border: 1px solid #ddd;
	outline: 0;
	margin-right: 10px;
}